/****** Object:  StoredProcedure [dbo].[sp_insert_ZVBAP_DTL]    Script Date: 09/29/2017 11:53:53 ******/
DROP PROCEDURE [dbo].[sp_insert_ZVBAP_DTL]
GO
/****** Object:  StoredProcedure [dbo].[sp_insert_ZVBAP_DTL]    Script Date: 09/29/2017 11:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_insert_ZVBAP_DTL] 
@MANDT	nvarchar(10),
@ZFILENAME	nvarchar(255),
@ZSEQ	int,
@ZCOMPCODE	nvarchar(10),
@ZPOD_PURORD	nvarchar(20),
@ZJOBNO	nvarchar(25),
@ZPOD_PRDVEN	nvarchar(10),
@ZPOD_CUSSUB	nvarchar(10),
@ZPOD_PRDVENSNA	nvarchar(20),
@ZPOD_JOBORD	nvarchar(25),
@ZPOD_RUNNO	nvarchar(20),
@ZPOD_CUSITM	nvarchar(20),
@ZPOD_SECCUSITM	nvarchar(20),
@ZPOD_CUSPNO	nvarchar(20),
@ZSOD_RESPPO	nvarchar(20),
@ZPOD_VENCOL	nvarchar(30),
@ZPOD_CUSCOL	nvarchar(30),
@ZPOD_CUSSKU	nvarchar(20),
@ZPOD_TYPCODE	nvarchar(10),
@ZPOD_CODE1	nvarchar(15),
@ZPOD_CODE2	nvarchar(15),
@ZPOD_CODE3	nvarchar(15),
@ZPOD_HRMCDE	nvarchar(20),
@ZPOD_DTYRAT	numeric(13,4),
@ZPOD_CUSUSD	numeric(13,4),
@ZPOD_CUSCAD numeric(13,4),
@ZPOD_DEPT	nvarchar(20),
@ZPOD_SHPSTR	nvarchar(20),
@ZYSI_DSC	nvarchar(30),
@ZPOD_ORDQTY	int,
@ZPOD_CTNSTR	int,
@ZPOD_CTNEND	int,
@ZPOD_SUBTTLCTN	int,
@ZPOD_TTLCTN	int,
@ZPOD_ITMCST	numeric(13,4),
@ZPOD_ITMCSTCUR	nvarchar(10),
@ZSOD_DV	nvarchar(10),
@ZSOD_DVFTYCST	numeric(13,4),
@ZSOD_DVFTYPRC	numeric(13,4),
@ZSOD_DVBOMCST	numeric(13,4),
@ZSOD_DVFCURCDE	nvarchar(10),
@ZSOD_ITMCSTCUR	nvarchar(10),
@ZSOD_DVITMCST	numeric(13,4),
@ZSOD_IMQUTDAT	nvarchar(20),
@ZSOD_QUTDAT	nvarchar(20),
@ZSOD_DVFTYUNT	nvarchar(20),
@ZSOD_CUSVEN	nvarchar(10),
@SOD_COLCDE	nvarchar(60),
@SOD_COLDSC	nvarchar(60),
@PCQTY	int,
@SOD_TTLCTN	int,
@CTNSTR	int,
@CTNEND	int,
@SHPSTR	datetime,
@ZPOD_FTYPRCTRM	nvarchar(30),
@ZPOD_HKPRCTRM	nvarchar(30),
@ZPOD_TRANTRM	nvarchar(30),
@ZCDAT	datetime,
@ZUDAT	datetime,
@ZUFLAG	char(1),
@ZUSEQ	int,
@ZUREST	char(1),
@ZSOD_TORDNO	nvarchar(30),
@ZSOD_TORDSEQ int,
@usrid nvarchar(30)

as

insert into ZVBAP_DTL
(
MANDT,
ZFILENAME,
ZSEQ,
ZCOMPCODE,
ZPOD_PURORD,
ZJOBNO,
ZPOD_PRDVEN,
ZPOD_CUSSUB,
ZPOD_PRDVENSNA,
ZPOD_JOBORD,
ZPOD_RUNNO,
ZPOD_CUSITM,
ZPOD_SECCUSITM,
ZPOD_CUSPNO,
ZSOD_RESPPO,
ZPOD_VENCOL,
ZPOD_CUSCOL,
ZPOD_CUSSKU,
ZPOD_TYPCODE,
ZPOD_CODE1,
ZPOD_CODE2,
ZPOD_CODE3,
ZPOD_HRMCDE,
ZPOD_DTYRAT,
ZPOD_CUSUSD,
ZPOD_CUSCAD,
ZPOD_DEPT,
ZPOD_SHPSTR,
ZYSI_DSC,
ZPOD_ORDQTY,
ZPOD_CTNSTR,
ZPOD_CTNEND,
ZPOD_SUBTTLCTN,
ZPOD_TTLCTN,
ZPOD_ITMCST,
ZPOD_ITMCSTCUR,
ZSOD_DV,
ZSOD_DVFTYCST,
ZSOD_DVFTYPRC,
ZSOD_DVBOMCST,
ZSOD_DVFCURCDE,
ZSOD_ITMCSTCUR,
ZSOD_DVITMCST,
ZSOD_IMQUTDAT,
ZSOD_QUTDAT,
ZSOD_DVFTYUNT,
ZSOD_CUSVEN,
SOD_COLCDE,
SOD_COLDSC,
PCQTY,
SOD_TTLCTN,
CTNSTR,
CTNEND,
SHPSTR,
ZPOD_FTYPRCTRM,
ZPOD_HKPRCTRM,
ZPOD_TRANTRM,
ZCDAT,
ZUDAT,
ZUFLAG,
ZUSEQ,
ZUREST,
ZSOD_TORDNO,
ZSOD_TORDSEQ,
creusr,
updusr,
credat,
upddat
)
values
(
@MANDT,
@ZFILENAME,
@ZSEQ,
@ZCOMPCODE,
@ZPOD_PURORD,
@ZJOBNO,
@ZPOD_PRDVEN,
@ZPOD_CUSSUB,
@ZPOD_PRDVENSNA,
@ZPOD_JOBORD,
@ZPOD_RUNNO,
@ZPOD_CUSITM,
@ZPOD_SECCUSITM,
@ZPOD_CUSPNO,
@ZSOD_RESPPO,
@ZPOD_VENCOL,
@ZPOD_CUSCOL,
@ZPOD_CUSSKU,
@ZPOD_TYPCODE,
@ZPOD_CODE1,
@ZPOD_CODE2,
@ZPOD_CODE3,
@ZPOD_HRMCDE,
@ZPOD_DTYRAT,
@ZPOD_CUSUSD,
@ZPOD_CUSCAD,
@ZPOD_DEPT,
@ZPOD_SHPSTR,
@ZYSI_DSC,
@ZPOD_ORDQTY,
@ZPOD_CTNSTR,
@ZPOD_CTNEND,
@ZPOD_SUBTTLCTN,
@ZPOD_TTLCTN,
@ZPOD_ITMCST,
@ZPOD_ITMCSTCUR,
@ZSOD_DV,
@ZSOD_DVFTYCST,
@ZSOD_DVFTYPRC,
@ZSOD_DVBOMCST,
@ZSOD_DVFCURCDE,
@ZSOD_ITMCSTCUR,
@ZSOD_DVITMCST,
@ZSOD_IMQUTDAT,
@ZSOD_QUTDAT,
@ZSOD_DVFTYUNT,
@ZSOD_CUSVEN,
@SOD_COLCDE,
@SOD_COLDSC,
@PCQTY,
@SOD_TTLCTN,
@CTNSTR,
@CTNEND,
@SHPSTR,
@ZPOD_FTYPRCTRM,
@ZPOD_HKPRCTRM,
@ZPOD_TRANTRM,
@ZCDAT,
@ZUDAT,
@ZUFLAG,
@ZUSEQ,
@ZUREST,
@ZSOD_TORDNO,
@ZSOD_TORDSEQ,
@usrid,
@usrid,
getdate(),
getdate()
)



GO
GRANT EXECUTE ON [dbo].[sp_insert_ZVBAP_DTL] TO [ERPUSER] AS [dbo]
GO
