/****** Object:  StoredProcedure [dbo].[sp_insert_ZVBAP_HDR]    Script Date: 09/29/2017 11:53:53 ******/
DROP PROCEDURE [dbo].[sp_insert_ZVBAP_HDR]
GO
/****** Object:  StoredProcedure [dbo].[sp_insert_ZVBAP_HDR]    Script Date: 09/29/2017 11:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_insert_ZVBAP_HDR] 
@MANDT nvarchar(10),
@ZFILENAME nvarchar(255),
@ZSEQ int,
@ZCOMPCODE nvarchar(10),
@ZPOH_PURORD nvarchar(20),
@ZJOBNO nvarchar(25),
@ZVBELN nvarchar(10),
@ZPOSNR nvarchar(10),
@ZPOH_PRMCUS nvarchar(10),
@ZCBI_CUSSNA nvarchar(20),
@ZPOH_CREDAT datetime,
@ZPOH_ISSDAT datetime,
@ZPOH_POCDAT datetime,
@ZPOH_CUSPNO nvarchar(20),
@ZPOH_REPPNO nvarchar(20),
@ZPOH_CPODAT datetime,
@ZPOD_SCNO nvarchar(20),
@ZPOH_VENNO nvarchar(10),
@ZSOD_SUBCDE nvarchar(10),
@ZVBI_VENSNA nvarchar(20),
@ZPOD_ITMNO nvarchar(20),
@ZPOD_VENITM nvarchar(20),
@ZPOD_ALSITMNO nvarchar(20),
@ZPOD_ALSCOLCDE nvarchar(30),
@ZPOD_INRCTN int,
@ZPOD_MTRCTN int,
@ZPOD_CUBCFT numeric(13,4),
@ZPOD_UNTCDE nvarchar(20),
@ZYCF_VALUE int,
@ZPOH_SECCUS nvarchar(10),
@ZSOH_ZSHPCUSNO nvarchar(10),
@ZPOD_PODJID nvarchar(20),
@ZPOD_PLANT nvarchar(10),
@ZVBELN_T nvarchar(10),
@ZPOSNR_T nvarchar(10),
@ZMSEHI nvarchar(10),
@ZAEHL int,
@ZDLVBLK int,
@ZRPLMNT char(1),
@CBI_SECCUSSNA nvarchar(50),
@SOD_ORDSEQ int,
@SOD_CBM numeric(13,4),
@SOD_CONFTR int,
@ZCDAT datetime,
@ZCTIM datetime,
@ZUDAT datetime,
@ZUTIM datetime,
@ZUFLAG char(1),
@ZUSEQ int,
@ZUTYPE char(1),
@ZREASON nvarchar(200),
@ZUREST char(1),
@usrid nvarchar(30)

as

insert into ZVBAP_HDR
(
MANDT,
ZFILENAME,
ZSEQ,
ZCOMPCODE,
ZPOH_PURORD,
ZJOBNO,
ZVBELN,
ZPOSNR,
ZPOH_PRMCUS,
ZCBI_CUSSNA,
ZPOH_CREDAT,
ZPOH_ISSDAT,
ZPOH_POCDAT,
ZPOH_CUSPNO,
ZPOH_REPPNO,
ZPOH_CPODAT,
ZPOD_SCNO,
ZPOH_VENNO,
ZSOD_SUBCDE,
ZVBI_VENSNA,
ZPOD_ITMNO,
ZPOD_VENITM,
ZPOD_ALSITMNO,
ZPOD_ALSCOLCDE,
ZPOD_INRCTN,
ZPOD_MTRCTN,
ZPOD_CUBCFT,
ZPOD_UNTCDE,
ZYCF_VALUE,
ZPOH_SECCUS,
ZSOH_ZSHPCUSNO,
ZPOD_PODJID,
ZPOD_PLANT,
ZVBELN_T,
ZPOSNR_T,
ZMSEHI,
ZAEHL,
ZDLVBLK,
ZRPLMNT,
CBI_SECCUSSNA,
SOD_ORDSEQ,
SOD_CBM,
SOD_CONFTR,
ZCDAT,
ZCTIM,
ZUDAT,
ZUTIM,
ZUFLAG,
ZUSEQ,
ZUTYPE,
ZREASON,
ZUREST,
creusr,
updusr,
credat,
upddat
)
values
(
@MANDT,
@ZFILENAME,
@ZSEQ,
@ZCOMPCODE,
@ZPOH_PURORD,
@ZJOBNO,
@ZVBELN,
@ZPOSNR,
@ZPOH_PRMCUS,
@ZCBI_CUSSNA,
@ZPOH_CREDAT,
@ZPOH_ISSDAT,
@ZPOH_POCDAT,
@ZPOH_CUSPNO,
@ZPOH_REPPNO,
@ZPOH_CPODAT,
@ZPOD_SCNO,
@ZPOH_VENNO,
@ZSOD_SUBCDE,
@ZVBI_VENSNA,
@ZPOD_ITMNO,
@ZPOD_VENITM,
@ZPOD_ALSITMNO,
@ZPOD_ALSCOLCDE,
@ZPOD_INRCTN,
@ZPOD_MTRCTN,
@ZPOD_CUBCFT,
@ZPOD_UNTCDE,
@ZYCF_VALUE,
@ZPOH_SECCUS,
@ZSOH_ZSHPCUSNO,
@ZPOD_PODJID,
@ZPOD_PLANT,
@ZVBELN_T,
@ZPOSNR_T,
@ZMSEHI,
@ZAEHL,
@ZDLVBLK,
@ZRPLMNT,
@CBI_SECCUSSNA,
@SOD_ORDSEQ,
@SOD_CBM,
@SOD_CONFTR,
@ZCDAT,
@ZCTIM,
@ZUDAT,
@ZUTIM,
@ZUFLAG,
@ZUSEQ,
@ZUTYPE,
@ZREASON,
@ZUREST,
@usrid,
@usrid,
getdate(),
getdate()
)



GO
GRANT EXECUTE ON [dbo].[sp_insert_ZVBAP_HDR] TO [ERPUSER] AS [dbo]
GO
