/****** Object:  StoredProcedure [dbo].[SP_UPDATE_IMAGE_UPLOAD]    Script Date: 09/29/2017 11:53:52 ******/
DROP PROCEDURE [dbo].[SP_UPDATE_IMAGE_UPLOAD]
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_IMAGE_UPLOAD]    Script Date: 09/29/2017 11:53:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE  PROCEDURE [dbo].[SP_UPDATE_IMAGE_UPLOAD]
@COCDE		NVARCHAR(6),
@IMD_IMGNAM	NVARCHAR(30),
@IMD_UPLPTH	NVARCHAR(800),
@IMD_CREUSR	NVARCHAR(30),
@VENTYP	NVARCHAR(1)
AS

IF @VENTYP = 'I'
BEGIN
	UPDATE IMBASINF SET IBI_IMGPTH = @IMD_UPLPTH
	WHERE IBI_ITMNO LIKE @IMD_IMGNAM
END
ELSE
BEGIN
	UPDATE IMBASINF SET IBI_IMGPTH = @IMD_UPLPTH
	FROM IMVENINF
	WHERE IBI_ITMNO = IVI_ITMNO
	AND IBI_VENNO = IVI_VENNO
	AND IVI_VENITM + '_' + IBI_VENNO LIKE @IMD_IMGNAM
END







GO
GRANT EXECUTE ON [dbo].[SP_UPDATE_IMAGE_UPLOAD] TO [ERPUSER] AS [dbo]
GO
