/****** Object:  StoredProcedure [dbo].[SP_INSERT_IMAGE_UPLOAD]    Script Date: 09/29/2017 11:53:53 ******/
DROP PROCEDURE [dbo].[SP_INSERT_IMAGE_UPLOAD]
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_IMAGE_UPLOAD]    Script Date: 09/29/2017 11:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE  PROCEDURE [dbo].[SP_INSERT_IMAGE_UPLOAD]
@COCDE		NVARCHAR(6),
@IMD_IMGNAM	NVARCHAR(30),
@IMD_UPLPTH	NVARCHAR(800),
@IMD_OVRFLG	NVARCHAR(1),
@IMD_CREUSR	NVARCHAR(30),
@VENTYP	NVARCHAR(1)
AS

declare @imd_seq int

select @imd_seq = ISNULL(MAX(IMD_SEQ),0) + 1
from IMGDTL (nolock)
WHERE IMD_IMGNAM = @IMD_IMGNAM



INSERT INTO IMGDTL (
	IMD_VENTYP,
	IMD_IMGNAM,
	IMD_SEQ,
	IMD_UPLPTH,
	IMD_OVRFLG,
	IMD_CREUSR,
	IMD_CREDAT)
values
(
@VENTYP,
@IMD_IMGNAM,
@imd_seq,
@IMD_UPLPTH,
@IMD_OVRFLG,
@IMD_CREUSR,
GETDATE()
)






GO
GRANT EXECUTE ON [dbo].[SP_INSERT_IMAGE_UPLOAD] TO [ERPUSER] AS [dbo]
GO
