/****** Object:  StoredProcedure [dbo].[SP_UPDATE_IMAGE_UPLOAD_IMG00002]    Script Date: 09/29/2017 11:53:52 ******/
DROP PROCEDURE [dbo].[SP_UPDATE_IMAGE_UPLOAD_IMG00002]
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_IMAGE_UPLOAD_IMG00002]    Script Date: 09/29/2017 11:53:54 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO




CREATE  PROCEDURE [dbo].[SP_UPDATE_IMAGE_UPLOAD_IMG00002]
@COCDE		NVARCHAR(6),
@IMD_ITMNO		NVARCHAR(30),
@IMD_UPLPTH	NVARCHAR(800),
@IMD_CREUSR	NVARCHAR(30),
@VENTYP	NVARCHAR(1)
AS

BEGIN
	UPDATE IMBASINF SET IBI_IMGPTH = @IMD_UPLPTH
	WHERE IBI_ITMNO = @IMD_ITMNO
END



GO
GRANT EXECUTE ON [dbo].[SP_UPDATE_IMAGE_UPLOAD_IMG00002] TO [ERPUSER] AS [dbo]
GO
