/****** Object:  StoredProcedure [dbo].[SP_SELECT_BOR00001]    Script Date: 09/29/2017 11:53:53 ******/
DROP PROCEDURE [dbo].[SP_SELECT_BOR00001]
GO
/****** Object:  StoredProcedure [dbo].[SP_SELECT_BOR00001]    Script Date: 09/29/2017 11:53:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE  PROCEDURE [dbo].[SP_SELECT_BOR00001]
@COCDE	VARCHAR(6),
@VPO_FM	VARCHAR(20),
@VPO_TO	VARCHAR(20),
@RPTTYP	CHAR(1)
AS

IF @RPTTYP = 'H'
BEGIN
	
	SELECT 
		VBI_VENSNA as 'BOM Vendor Name',				--1
		VPO_BOMITM as 'BOM Item No',				--2
		PBD_CHNDSC as 'BOM Chin Desc.',				--3
		VPO_BOMUM as 'BOM UM',					--4
		SUM(VPO_ORDQTY - ISNULL(VPO_PLCQTY,0)) as 'Total Qty',		--5
		MIN(PBD_SHPSTR) as 'BOM Ship Start Date (Min)'			--6

	FROM 
		VNBOMPO(NOLOCK)
		LEFT JOIN POBOMDTL(NOLOCK) ON VPO_BOMPO = PBD_BOMPO AND VPO_BOMSEQ = PBD_BOMSEQ
		LEFT JOIN POBOMHDR(NOLOCK) ON PBD_COCDE = PBH_COCDE AND PBD_BOMPO = PBH_BOMPO
		--LEFT JOIN IMBASINF(NOLOCK) ON VPO_BOMITM = IBI_ITMNO 
		LEFT JOIN VNBASINF(NOLOCK) ON PBH_BVENNO = VBI_VENNO
	WHERE 
		VPO_VPONO BETWEEN @VPO_FM AND @VPO_TO
		--VPO_VPONO BETWEEN 'VP0500001' AND 'VP0500001'
		AND (VPO_ORDQTY > 0 OR VPO_PLCQTY > 0)
	GROUP BY 
		VBI_VENSNA,VPO_BOMITM,PBD_CHNDSC,VPO_BOMUM
	ORDER BY 
		1,2,3



END
ELSE
BEGIN
	SELECT 
		VBI_VENSNA 'BOM Vendor Name',						--1
		VPO_BOMPO 'BOM PO No',							--2
		ISNULL(POH_PRMCUS + ' - ' + CBI_CUSSNA,'') 'Cust. Code & Short Name',			--3
		PBH_CUSPO 'Cust PO No',				--4
		VPO_JOBNO 'Current Job No',				--5
		VPO_PREJOB 'Previous Job No',				--6
		PBD_REGITM 'Ori. Item No',				--7
		VPO_BOMITM 'BOM Item No',				--8
		PBD_CHNDSC 'BOM Chin. Desc.',				--9
		VPO_BOMUM 'BOM UM',				--10
		VPO_ORDQTY 'BOM Order Qty',				--11
		ISNULL(VPO_PLCQTY,0) 'Placed Qty',			--12
		VPO_ORDQTY - ISNULL(VPO_PLCQTY,0) 'Adjust Qty',	--13
		PBD_SHPSTR 'BOM Ship Start Date'				--14

	FROM 
		VNBOMPO(NOLOCK)
		LEFT JOIN POBOMDTL(NOLOCK) ON VPO_BOMPO = PBD_BOMPO AND VPO_BOMSEQ = PBD_BOMSEQ
		LEFT JOIN  POBOMHDR(NOLOCK) ON PBD_COCDE = PBH_COCDE AND PBD_BOMPO = PBH_BOMPO
		LEFT JOIN VNBASINF(NOLOCK) ON PBH_BVENNO = VBI_VENNO
		LEFT JOIN  POORDHDR(NOLOCK) ON PBH_COCDE = POH_COCDE AND pbh_purord = POH_PURORD
 		LEFT JOIN CUBASINF (NOLOCK) ON POH_PRMCUS = CBI_CUSNO
--SP_HELP POBOMHDR

	WHERE 
		VPO_VPONO BETWEEN @VPO_FM AND @VPO_TO
		--VPO_VPONO BETWEEN 'VP0500001' AND 'VP0500001'
		AND (VPO_ORDQTY > 0 OR VPO_PLCQTY > 0)
	ORDER BY 
		case isnull(VPO_PREJOB,'') when '' then VPO_JOBNO else VPO_PREJOB end,
		PBD_REGITM,
		VPO_BOMITM,
		VPO_BOMPO
--		5,6,2,8


END





GO
GRANT EXECUTE ON [dbo].[SP_SELECT_BOR00001] TO [ERPUSER] AS [dbo]
GO
